*{
    padding: 0%;
    margin: 0%;
    background-color: #1a1a1a; /*Mudar a cor do fundo*/
}


li a{
text-decoration: none; /*Remove o sublinhado*/
font-size:20px; /*Tamanho da fonte*/
color: #ffffff;
padding:20px;

}

li{
 list-style:none ; /*Remover formatação da lista*/  
}

#logo{
height: 90px;/*altura*/
width: 140px; /*largura*/

}

ul{
    display: flex;/*indica propriedade*/
    flex-direction: row; /*horizontal e vertical*/
    align-items: center;
    }

.menu{
display: flex;
flex-direction: row;


}

.caixa-img-logo{

height: 90px;
width: 90px;
}